@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
    @apply min-h-screen bg-gradient-to-b from-cyrano-navy to-cyrano-dark;

    .wrapper {
        max-width: 60rem;
        box-shadow: 8px 0 1px rgba(0, 0, 0, 0.25), -8px 0 1px rgba(0, 0, 0, 0.25);
        @apply w-full min-h-screen bg-cyrano-light mx-auto;

        & > .header {
            @apply h-96 bg-header bg-center bg-no-repeat bg-cover;
        }

        & > .nav {
            @apply relative h-20 bg-white;

            .menu {
                @apply h-full flex flex-row items-center justify-around;

                .menu-item {
                    @apply w-full h-full;

                    a {
                        @apply w-full h-full flex flex-col items-center justify-center text-sm text-gray-600 font-semibold uppercase transition-colors duration-200;

                        &::after {
                            @apply content-[attr(title)] block leading-4 text-xxs text-gray-400 transition-colors duration-200;
                        }

                        &:hover {
                            @apply text-cyrano-orange transition-colors duration-200;

                            &::after {
                                @apply text-cyrano-orange transition-colors duration-200;
                            }
                        }
                    }
                }
            }
        }

        & > .content {
            @apply relative;

            &:after {
                @apply content-[''] absolute left-1/2 h-0 w-0 border border-transparent border-[1rem] border-t-white -ml-4;
            }
        }
    }
}
